<div class="wrapper">
  <app-header></app-header>

  <app-services></app-services>

  <app-portfolio></app-portfolio>

  <app-about></app-about>

  <app-why-me></app-why-me>

  <app-contact></app-contact>

  <app-footer></app-footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.1.11.1.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script type="text/javascript" src="assets/js/bootstrap.js"></script>-->

<!-- Javascripts
================================================== -->
<!--<script type="text/javascript" src="assets/js/main.js"></script>-->